@model IEnumerable<TesteBiblioteca.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Livros</h1>

<p>
    <a asp-action="Create">Cadastrar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ISBN
            </th>
            <th>
                Título
            </th>
            <th>
                Autor
            </th>
            <th>
                Editora
            </th>
            <th>
                Edição
            </th>
            <th>
                Ano
            </th>
            <th>
                Categoria
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LivroISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivroTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor.PessoaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivroEditora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivroEdicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivroAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CatNome)
            </td>
            <td>
                @if (item.LivroStatus == "DP")
                {
                    <text>Disponível</text>
                }
                @if (item.LivroStatus == "EM")
                {
                    <text>Emprestado</text>
                }
                @if (item.LivroStatus == "EX")
                {
                    <text>Extraviado</text>
                }
                @if (item.LivroStatus == "MA")
                {
                    <text>Em Manutanção</text>
                }                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LivroID">EDITAR</a> |
                
                <a asp-action="Delete" asp-route-id="@item.LivroID">DELETAR</a>
            </td>
        </tr>
}
    </tbody>
</table>
