@model IEnumerable<SolucaoCrea.Models.Movimentacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Movimentação</h1>

<p>
    <a asp-action="Create">NOVO EMPRÉSTIMO</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Livro
            </th>
            <th>
                Pessoa
            </th>
            <th>
                Usuário
            </th>
            <th>
                Data de Empréstimo
            </th>
            <th>
                Data Máxima
            </th>
            <th>
                Data de Devolução
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Livro.LivroTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.PessoaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMaxima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDevolucao)
            </td>
            <td>
                @if (item.MovimentacaoStatus == "EM")
                {
                    <text>Emprestado</text>
                }
                @if (item.MovimentacaoStatus == "DE")
                {
                    <text>Devolvido</text>
                }
                @if (item.MovimentacaoStatus == "AT")
                {
                    <text>Atrasado</text>
                }                  
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovimentacaoID">DEVOLUÇÃO</a>            
                
            </td>
        </tr>
}
    </tbody>
</table>
