@model IEnumerable<SolucaoCrea.Models.Movimentacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovimentacaoStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Livro.LivroID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.PessoaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMaxima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDevolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovimentacaoStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovimentacaoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovimentacaoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovimentacaoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
