@model TesteBiblioteca.Models.Pessoa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaCPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoaCPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaRG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoaRG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoaEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoaTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoaEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoaTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoaStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PessoaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
