@model IEnumerable<TesteBiblioteca.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Pessoas</h1>

<p>
    <a asp-action="Create">CADASTRAR PESSOA</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                CPF
            </th>
            <th>
                RG
            </th>
            <th>
                Endereço
            </th>
            <th>
                Telefone
            </th>
            <th>
                E-mail
            </th>
            <th>
                Tipo
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaCPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaRG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaEmail)
            </td>
            <td>
                @if (item.PessoaTipo == "AL")
                {
                    <text>Aluno</text>
                }
                @if (item.PessoaTipo == "AU")
                {
                    <text>Autor</text>
                }
                @if (item.PessoaTipo == "PR")
                {
                    <text>Profissional</text>
                }
                @if (item.PessoaTipo == "OU")
                {
                    <text>Outro</text>
                }                
            </td>            
            <td>
                @if (item.PessoaStatus)
                {
                    <text>Ativo</text>
                }
                else
                {
                    <text>Desativado</text>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PessoaID">EDITAR</a> |
               
                <a asp-action="Delete" asp-route-id="@item.PessoaID">DELETAR</a>
            </td>
        </tr>
}
    </tbody>
</table>
